body {
  header {
    background-color: #2a5798;
    .header_logo {
      width: 153px;
    }

    ul {
      li {
        a {
          color: #bfcde0 !important;
        }
        .active {
          color: #fff !important;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            bottom: -5px;
            border-radius: 15px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f6b333;
          }
        }
        .findajobbtn {
          background-color: #d1e5ff;
          border-radius: 8px;
          border: 2px solid #ffffff;
          padding: 8px 16px;
          color: #2a5798;
        }
      }
    }

    .loginpanel {
      ul {
        li {
          display: inline-block;
          padding-right: 15px;
          margin-top: 6px;
          a.signbtn {
            border: 2px solid #fff;
            transition: 0.3s ease-in-out;
            padding: 12px 30px;
            &:hover {
              background-color: #fff;
              color: #2a5798 !important;
            }
          }
          a.empbtn {
            border: 2px solid #f4b947;
            transition: 0.3s ease-in-out;
            background-color: #f4b947;
            color: #fff !important;
            padding: 12px 30px;
            &:hover {
              background-color: #f4b947;
              color: #fff !important;
            }
          }
        }
      }
    }
    .rght_panel {
      ul {
        display: inline;
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          position: relative;
          span {
            display: inline-block;
            color: #fff;
          }
          .optionsul {
            position: absolute;
            display: none;
            bottom: -150px;
            left: 0;
            width: 100%;
            background: #fff;
            z-index: 10;
            border-radius: 8px;
            box-shadow: 0px 8px 29px #34353633;
            li {
              display: block;
              button {
                text-align: left;
                padding: 12px 15px;
                border-radius: 8px;
                &:hover {
                  background: #e7f1fd !important;
                }
              }
            }
          }
        }
      }
    }
    .profile_li {
      cursor: pointer;
    }
  }
  .headerForHome {
    background: url("../../images/Homeheaderbg.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .schoollogo {
    ul {
      padding-left: 0 !important;
      li {
        padding: 0 10px 0 0;
        display: inline-block;
        img {
          width: 85%;
        }
      }
    }
  }
  #fndjob {
    h1.fndh1 {
      color: #1c1b1b;
      letter-spacing: -1.44px;
      font-size: 46px;
      padding-top: 35px;
      line-height: 50px;
    }
    span.fndspan {
      color: #707070;
      font-size: 20px;
      line-height: 26px;
      max-width: 715px;
      padding-top: 15px;
      padding-bottom: 50px;
      display: block;
    }
  }
  @media only screen and (max-width: 1100px){
    header{
      .navbar-light {
        .brandlogo{
          width: 146px;
        }
        .navbar-toggler{
          border-color: transparent;
        }
        .navbar-toggler-icon{
          background-image: url("../../images/menu_burger_icon.svg");
        }
      }
      ul{
        li{
          .active{
            &::after{
              display: none;
            }
          }
          a.nav-link{
            padding-left: 0 !important;
          }
          .findajobbtn{
            width: 100%;
          }
        }
      }
      .loginpanel{
        flex-basis: 31%;

        ul{
          padding-left: 0 !important;
          display: flex;
          justify-content: space-between;
          position: relative;
          top: 4px;
          li{
            flex-basis: 49%;
            padding-right: 0 !important;
            margin-top: 0 !important;
            a{
              display: block;
              width: 100%;
              text-align:center;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px){
    header{
      .loginpanel{
        flex-basis: auto;
        ul{
          top: 0px;
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .schoollogo {
      ul {
        display: block; 
        li {
          display: block;
          img {
            width: 180px;
            display: block;
            margin: 0 auto 25px;
          }
        }
      }
    }
  }
}
