body {
  background-color: #fff;
  .privacypagediv {
    padding-bottom: 120px;
    .tagsul {
      padding-left: 0 !important;
      li {
        display: inline-block;
        margin-right: 15px;
      }
    }
    textarea {
      resize: none;
    }
  }
  @media (max-width: 992px) {
    .privacypagediv{
      .title{
        line-height: 90px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .privacypagediv {
      .font16 {
        font-size: 14px;
      }
    }
  }
}
