* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
footer {
  background-color: #fff;
  .footerdiv {
    border-bottom: 1px solid #1c1b1b;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-bottom: 8px;
      a {
        text-decoration: none;
        color: #1c1b1b;
        display: block;
        &:hover {
          text-decoration: none;
          color: #1c1b1b;
        }
      }
      .dwnld_app {
        width: 200px;
        padding-bottom: 8px;
      }
      form {
        position: relative;
        input {
          width: 100%;
          background: #e7f1fd;
          outline: none;
          border: none;
          padding: 15px;
          margin-top: 15px;
          border-radius: 8px;
        }
        div {
          position: absolute;
          top: 28px;
          right: 10px;
          button {
            background: transparent;
            outline: none;
            border: 0;
          }
        }
      }
    }
    li.footerhead {
      font-size: 22px;
    }
  }
  ul.main {
    display: flex;
    li {
      display: block;
      flex-basis: calc(100% / 5);
      span.descp {
        display: inline-block;
        font-size: 16px;
        line-height: 30px;
      }
      ul.social_link {
        li {
          display: inline-block;
          padding-right: 8px;
        }
      }
      ul {
        li {
          display: block;
        }
      }
    }
  }
  .copyright {
    span {
      display: block;
      color: #1c1b1b;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
@media (max-width: 1200px) {
  footer {
    ul.main {
      flex-wrap: wrap;
      li {
        flex-basis: calc(100% / 3);
      }
    }
  }
}
@media (max-width: 700px) {
  footer {
    ul.main {
      li {
        flex-basis: calc(100% / 2);
      }
    }
    .pagelinks {
      padding-left: 0 !important;
    }
  }
}
@media (max-width: 500px) {
  footer {
    ul.main {
      li {
        flex-basis: calc(100% / 1);
      }
    }
  }
}
