body {
  .candidatesuggestionscontent {
    padding-right: 50px;
    .pagetitle {
      letter-spacing: 0px;
      font-size: 2.6rem;
      line-height: 80px;
      font-weight: bold;
      color: #1c1b1b;
      margin: 10px 0 15px;
      display: block;
    }
    .bg_img {
      width: 48%;
    }
    .commonul {
      .bolddiv {
        span {
          font-weight: 700;
        }
      }
      span {
        font-size: 0.875rem;
      }
    }
    .sortbybtn {
      background-color: transparent;
      box-shadow: none;
      color: #1c1b1b;
      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
    }
    button {
      text-transform: none;
    }
    .autocompdiv {
      .autocompdivarea {
        .WhiteSelectDropdown {
          .noBeforeAfter {
            .noborderinput {
              padding: 11px 18px;
            }
          }
        }
        .button {
          padding: 8px 26px !important;
        }
      }
    }
    .listarea {
      .button-area {
        justify-content: space-between;
        button {
          flex-basis: 48%;
        }
      }
    }
    .BlueSelectDropdown {
      .noBeforeAfter {
        padding: 6px 10px;
      }
    }
    .infodiv2 {
      padding: 0 !important;
      .MuiButton-startIcon {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .savedboxdiv {
      background-color: #e7f1fd;
      border: 1px solid #d1e5ff;
      border-radius: 16px;
      padding: 20px;
      .titlediv {
        .heading {
          font-size: 1.125rem;
          display: block;
          font-weight: 700;
        }
        .subheading {
          font-size: 0.875rem;
          color: #2a5798;
          display: block;
        }
      }
      .iconreq {
        padding-right: 20px;
        ul {
          padding-bottom: 0;
          li {
            font-size: 0.875rem;
          }
        }
      }
      .leftarrowbtn {
        padding-right: 16px !important;
      }
      .rightarrowbtn {
        padding-left: 16px !important;
      }
      .buttonbox {
        button {
          padding: 10px 26px !important;
        }
      }
    }
  }
  @media (min-width: 1440px) {
    .candidatesuggestionscontent {
      .listarea {
        .MuiGrid-grid-xl-4 {
          flex-grow: 0;
          max-width: 33.333333%;
          flex-basis: 33.333333%;
        }
      }
    }
  }
  @media only screen and (max-width: 1600px) {
    .candidatesuggestionscontent {
      .bg_img {
        width: 70%;
      }
    }
  }
  @media only screen and (max-width: 1500px) {
    .candidatesuggestionscontent {
      .sortbybtn {
        width: 40px;
        padding: 0;
        min-width: 0px;
        overflow: hidden;
        height: 30px;
        padding-left: 40px;
      }
      .gogsheet_csvarea {
        float: right;
      }
      .sortbydiv {
        margin: 0 0 0 auto;
        width: 250px;
        .WhiteSelectDropdown {
          .noBeforeAfter {
            .noborderinput {
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-word;
              width: 65%;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1300px) {
    .candidatesuggestionscontent {
      padding-right: 8px;

      .jdlistul {
        display: block;
      }
      .sugcandidiv {
        .multi-selection {
          .buttondiv {
            margin-top: 15px;
          }
        }
      }

      .sortbydiv {
        margin-top: 15px !important;
        width: 240px;
        .WhiteSelectDropdown {
          .noBeforeAfter {
            .noborderinput {
              overflow: hidden;
              text-overflow: ellipsis;
              word-break: break-word;
              width: 65%;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1279px) {
    .candidatesuggestionscontent {
      // .savedboxdiv {
      //   .buttonbox {
      //     button {
      //       padding: 10px 13px !important;
      //       text-indent: -9999em;
      //       text-transform: uppercase;
      //       svg {
      //         position: relative;
      //         left: 6px;
      //       }
      //     }
      //   }
      // }
      // .sugcandidiv {
      //   .topdiv {
      //     .cont {
      //       .buttondiv {
      //         button {
      //           padding: 10px 13px !important;
      //           text-indent: -9999em;
      //           text-transform: uppercase;
      //           svg {
      //             position: relative;
      //             left: 6px;
      //           }
      //           svg.download-white {
      //             left: 0px;
      //           }
      //         }
      //       }
      //     }
      //   }
      //   .multi-selection {
      //     flex-direction: column-reverse;
      //     .buttondiv {
      //       margin-top: 15px;
      //     }
      //   }
      // }
      .bg_img {
        display: none;
      }
      .autocompdiv {
        .autocompdivarea {
          .WhiteSelectDropdown {
            width: 200px;
            .noBeforeAfter {
              .noborderinput {
                padding: 11px 18px;
              }
            }
          }
          .button {
            padding: 8px 26px !important;
          }
        }
      }
      .autocompdivarea {
        .sortbydiv {
          width: fit-content;
          margin-top: 0 !important;
        }
      }
      .sortbydiv {
        width: 190px;
      }
    }
  }
  @media (max-width: 1022px) {
    .candidatesuggestionscontent {
      .pagetitle {
        line-height: 1.1em;
      }
      .autocompdiv {
        display: block;
      }
      .savedboxdiv {
        .contentdiv {
          display: block;
          .titlediv {
            margin-bottom: 15px;
          }
          .buttonbox {
            display: block;
            margin-bottom: 15px !important;
            button {
              padding: 10px 26px !important;
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }
        .iconreq ul {
          padding-bottom: 15px;
          li {
            display: block;
          }
        }
        .numcandsugg {
          align-items: center;
          span {
            margin-top: 0 !important;
          }
        }
        .rightarrowbtn {
          padding-left: 0px !important;
        }
        .leftarrowbtn {
          padding-right: 0px !important;
        }
      }
      .topheader {
        .BlueSelectDropdown {
          .noBeforeAfter {
            input {
              padding-left: 15px;
            }
          }
        }
      }
      .sugcandidiv {
        .topdiv {
          .cont {
            .buttondiv {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              position: relative;
              .infodiv2 {
                padding: 0 !important;
                min-width: 15px;
                flex-basis: 0;
                position: absolute;
                top: 0;
                left: 46%;
              }
              button {
                margin: 0 0 15px 0 !important;
                flex-basis: 45%;
              }
            }
          }
        }
        .multi-selection {
          flex-direction: column;
          .buttondiv {
            display: block;
            width: 100%;
            button {
              width: 100%;
              margin: 15px 0 0;
            }
          }
        }
      }
      .sortbydiv {
        width: fit-content;
        .WhiteSelectDropdown {
          .noBeforeAfter {
            .noborderinput {
              width: 100%;
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .candidatesuggestionscontent {
      .autocompdiv {
        .autocompdivarea {
          display: block;
          .WhiteSelectDropdown {
            margin-right: 0 !important;
          }
          button.redcolor {
            margin: 15px 0;
            width: 100%;
            padding: 8px;
          }
        }
        .gogsheet_csvarea {
          float: none;
          button {
            margin-bottom: 15px;
            width: 100%;
            padding: 15px !important;
          }
        }
      }
    }
  }
}
